<template>
  <v-card
      class="mt-10 mx-auto"
      width="800px"
  >
    <v-sheet
        class="v-sheet--offset mx-auto"
        :color="color"
        elevation="12"
        max-width="calc(100% - 32px)"
    >
      <v-sparkline
          :value="graph"
          color="white"
          line-width="2"
          padding="16"
          label-size="5"
      >
        <template v-slot:label="item">
            {{ item.value }}
        </template>
      </v-sparkline>
    </v-sheet>

    <v-card-text class="pt-0 pt-4">
      <div class="subtitle-1 font-weight-light mb-2">
        {{ title }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "CountryGraphCard",
  props: {
    title: {
      type: String,
      default: 'График'
    },
    color: {
      type: String,
      default: 'blue'
    },
    scope: {
      type:String,
      default: 'confirmed'
    }
  },
  computed: {
    graph() {
        return this.$store.getters.getCountryGraph(this.scope)
      },
  },
  mounted() {

      let payload = {
        slug: this.$route.params.id,
        case: this.scope
      }
      this.$store.dispatch('loadCountry', payload)

  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>