<template>
  <div class="mb-3">
    <div class="title mb-4">Статистика</div>
    <v-data-table
        :headers="headers"
        :items="items"
        :footer-props="footerProps"
        :loading="itemsLoading"
        loading-text="Идет загрузка..."
        no-data-text="Не найдено"
    >
      <template #item.Country="{ item }">
        <router-link :to="{ name: 'countryId', params: { id: item.Slug } }">
          {{ item.Country }}
        </router-link>
      </template>
    </v-data-table>
  </div>
</template>

<script>

export default {

  data: () => ({
    itemsLoading: false,
    headers: [
      {
        text: "Страна",
        sortable: false,
        align: "start",
        value: "Country",
      },
      {
        text: "Новые случаи",
        sortable: false,
        align: "start",
        value: "NewConfirmed",
      },
      {
        text: "Новые велеченные",
        sortable: false,
        align: "start",
        value: "NewRecovered",
      },
      {
        text: "Новые смерти",
        sortable: false,
        align: "start",
        value: "NewDeaths",
      },
    ],
    footerProps: {
      "items-per-page-options": [10, 15, 30],
      itemsPerPageText: "Кол-во элементов на странице",
    },
  }),
  computed: {
    items() {
      return this.$store.getters['getAllCountries']
    }
  },
  async mounted() {
    this.itemsLoading = true
    await this.$store.dispatch('loadCountries')
    this.itemsLoading = false
  },
};
</script>
