<template>
  <v-flex class="flex-column mt-4 px-2">
    <v-row cols="12" class="mb-4" v-for="(item, index) in cases" :key="index">
      <CountryGraphCard :color="item.color" :title="item.title" :scope="item.scope"/>
    </v-row>
  </v-flex>

</template>

<script>

import CountryGraphCard from "@/components/countries/CountryGraphCard";
export default {
  name: "CountryInfoCard",
  components: {
    CountryGraphCard,
  },
  data() {
    return {
      cases: [
        {
          scope: 'recovered',
          title: 'График динамики выздоровлений за последнюю неделю',
          color: 'green'
        },
        {
          scope: 'confirmed',
          title: 'График динамики подтвержденных случаев за последнюю неделю',
          color: 'blue'
        },
        {
          scope: 'deaths',
          title: 'График динамики летальных случаев за последнюю неделю',
          color: 'red'
        }
      ],
    }
  },

};
</script>
