<template>
  <v-app id="inspire">
    <v-navigation-drawer
        v-model="drawer"
        app
        dark
    >
      <v-list dense>
          <v-list-item
              v-for="(item, index) in menuItems"
              :key="index"
              link
              :to="{ name: item.to }"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Covid stats</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
        drawer: null,
        menuItems: [
          {
            title: 'Страны',
            to: 'countries',
            icon: 'mdi-map'
          },

        ]
  }
  ),
}
</script>