<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <CountryInfoCard/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import CountryInfoCard from "@/components/countries/CountryInfoCard";

export default {
  name: "_id",
  components: {
    CountryInfoCard
  }
}
</script>

<style scoped>

</style>