<template>
  <v-container>
    <v-card class="pa-4">
      <CountriesTable />
    </v-card>
  </v-container>
</template>

<script>

import CountriesTable from "@/components/countries/CountriesTable";
export default {
  name: "countries-index",
  components: {
    CountriesTable,
  },
}
</script>

<style scoped>

</style>